In [1]:
from stellargraph import StellarGraph
import pandas as pd

In [2]:
edges = []
tracks = []
playlists = []
for i in range(0, 15000, 1000):
    edges.append(pd.read_csv(f'D:\\million_playlist_dataset_csv\\playlist_tracks_{i}-{i+999}.csv'))
    tracks.append(pd.read_csv(f'D:\\million_playlist_dataset_csv\\tracks_{i}-{i+999}.csv'))
    playlists.append(pd.read_csv(f'D:\\million_playlist_dataset_csv\\playlists_{i}-{i+999}.csv'))
edges = pd.concat(edges, ignore_index=True)
#edges = edges.drop('pos',axis=1)
#edges.columns = ['target', 'source']
edges

          pid                             track_uri  pos
0           0  spotify:track:0UaMYEvWZi0ZqiDOoHU3YI    0
1           0  spotify:track:6I9VzXrHxO9rA9A5euc8Ak    1
2           0  spotify:track:0WqIKmW4BTrj3eJFmnCKMv    2
3           0  spotify:track:1AWQoqb9bSvzTjaLralEkT    3
4           0  spotify:track:1lzr43nnXAijIGYnCT8M8H    4
...       ...                                   ...  ...
998404  14999  spotify:track:5hTpBe8h35rJ67eAWHQsJx   28
998405  14999  spotify:track:3kxfsdsCpFgN412fpnW85Y   29
998406  14999  spotify:track:6eT7xZZlB2mwyzJ2sUKG6w   30
998407  14999  spotify:track:4Q3N4Ct4zCuIHuZ65E3BD4   31
998408  14999  spotify:track:0VgkVdmE4gld66l8iyGjgx   32

[998409 rows x 3 columns]

In [3]:
import csv

with open('D:\\extracted_features\\all_edges.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    
    writer.writerow(edges.columns)
    
    writer.writerows(edges.values)

In [82]:
playlists = pd.concat(playlists)
playlists = playlists.drop(['name', 'collaborative'], axis=1)
playlists.index=playlists['pid']
playlists

,pid,modified_at,num_tracks,num_albums,num_followers,num_edits,duration_ms,num_artists
pid,,,,,,,,
0,0,1493424000,52,47,1,6,11532414,37
1,1,1506556800,39,23,1,5,11656470,21
2,2,1505692800,64,51,1,18,14039958,31
3,3,1501027200,126,107,1,4,28926058,86
4,4,1401667200,17,16,2,7,4335282,16
...,...,...,...,...,...,...,...,...
14995,14995,1509408000,183,148,1,54,42537814,121
14996,14996,1495929600,18,17,1,4,4011515,13
14997,14997,1501891200,36,27,1,4,8354470,17
14998,14998,1392249600,61,39,1,3,14245495,27
14999,14999,1499731200,33,27,1,8,7552824,23

In [83]:
tracks = pd.concat(tracks)
tracks = pd.DataFrame(tracks.groupby(tracks['track_uri']))
tracks[1]=0
tracks
tracks.index=tracks[0]
tracks[0]=0
tracks

                                      0  1
0
spotify:track:000GjfnQc7ggBayDiy1sLW  0  0
spotify:track:000JBgYWfJQqdFaRqu2n3f  0  0
spotify:track:000ULyVqUhqnAyA0Um3MEH  0  0
spotify:track:000VZqvXwT0YNqKk7iG2GS  0  0
spotify:track:000mA0etY38nKdvf1N04af  0  0
...                                  .. ..
spotify:track:7zzLt6Z9y7jMvXnEg00n58  0  0
spotify:track:7zzTO3iXxR1kXhkKPqRpNn  0  0
spotify:track:7zzjrF4VOGmhmzkFqjuW9J  0  0
spotify:track:7zzmpRP0WkYge45l6LTQ8i  0  0
spotify:track:7zzptITgTKf4HpJM8ye47v  0  0

[218129 rows x 2 columns]

In [84]:
playlists = StellarGraph({'playlist': playlists, 'track': tracks} ,edges)
print(playlists.info())

StellarGraph: Undirected multigraph
 Nodes: 233129, Edges: 998409

 Node types:
  track: [218129]
    Features: float32 vector, length 2
    Edge types: track-default->playlist
  playlist: [15000]
    Features: float32 vector, length 8
    Edge types: playlist-default->track

 Edge types:
    playlist-default->track: [998409]
        Weights: all 1 (default)
        Features: none